.fa_contact{
  background: $c_point;
  .inner{
    padding: 18rem 10rem 12rem;
    max-width: 121rem;
    margin: 0 auto;
    @include mobile{
      padding: 7.9rem 3rem 20rem;
    }
    .contact_tit{
      display: flex;
      justify-content: space-between;
      position: relative;
      .contact_txt{
        img{
          @include desktop{
            width: 33.2rem;
          }
          @include mobile{
            width: 18.8rem;
          }
        }
        h2{
          @include text2('42');
          font-weight: 700;
          color: $c_primary;
          margin-top: 1.6rem;
          @include mobile{
            @include text(2.8rem,700,1.4);
          }
        }
        p{
          color: $c_primary;
          @include desktop{
            margin-top: 2.4rem;
            @include text2('24');
          }
          @include mobile{
            margin-top: 1.4rem;
              @include text2('14');
          }
        }
        span{
          color: rgba(255,255,255,0.7);
          margin-top: 1.2rem;
          display: block;
          @include desktop{
            @include text2('18');
          }
          @include mobile{
            @include text2('12');
          }
        }
      }
      .vis_img{
        width: 13rem;
        position: absolute;
        top: 0;
        right: 0;
        img{
          width: 100%;
        }
      }
      .ani_moving {
        position: relative;
        width: 41.4rem;
        height: 32.6rem;
        bottom: -8.6rem;
        .ani_box {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          &:after {
            position: absolute;
            background-repeat: no-repeat !important;
            background-size: 100% auto !important;
            display: block;
            content: '';
          } 
          &._box{
            &_0 {
              z-index: 1;
              &:after {
                right: 12.9rem;
                bottom: 2.2rem;
                width: 23.7rem;
                height: 21.8rem;
                background: url('../images/contact/pc/window2.png');
              }
            }
            &_1{
              z-index: 2;
              &:after{
                top: 2rem;
                right: 5.5rem;
                width: 21.9rem;
                height: 16.5rem;
                background: url('../images/contact/pc/window.png');
              }
            }
            &_2{
              z-index: 3;
              &:after {
                bottom: 1.9rem;
                left: 0;
                width: 21.7rem;
                height: 18.1rem;
                background: url('../images/contact/pc/person.png');
              }
            }
            &_3{
              z-index: 4;
              &:after {
                bottom: 0;
                right: 9.5rem;
                width: 5.5rem;
                height: 7.6rem;
                background: url('../images/contact/pc/arrow.png');
              }
            }
          }
        }
      }
    }
  }
  .contact-contents{
    background: $c_primary;
    @include desktop{
      padding: 4rem 4rem 6rem;
      margin-top: 4.2rem;
      border-radius: 3.2rem;
    }
    @include mobile{
      padding: 3rem;
      margin-top: 2rem;
      border-radius: 2rem;
    }
    .contact_box{
      .flex_box{
        display: flex;
        flex-wrap: wrap;
        @include desktop{
          gap: 4.2rem 4rem;
        }
        @include mobile{
          gap: 3rem;
        }
        .contact_item{
          @include desktop{
           width: calc(50% - 2rem);
          }
          @include mobile{
            width: 100%;
          }
          &.o_valid{
            input{
              &.ff_not_valid{
                border-color: $c_err;
              }
            }
          }
          label{
            .mark{
              color: $c_point;
            }
            .subTxt{
              @include desktop{
                font-size: 1.6rem;
              }
            }
            @include desktop{
              @include text(1.8rem,700,1.6);
            }
            @include mobile{
              @include text(1.4rem,700,1.6);
            }
            .subTxt{
              @include mobile{
                @include text2('12');
              }
            }
          }
          input{
            background: $c_gray_3;
            border: 1px solid #ddd;
            border-radius: 4px;
            width: 100%;
            margin-top: 1rem;
            top: 4px;
            @include desktop{
              @include text2('18');
              padding: 1.4rem;
            }
            @include mobile{
              @include text2('14');
              padding: 1.2rem;
            }
            &::placeholder{
              color: #aaa;
            }
            &[type=checkbox] {
              margin: 0;
              border: none;
              position: relative;
              top: 0;
              left: 0;
              width: 2rem;
              height: 2rem;
              @include mobile{
                margin-right: 0.6rem;
              }
              &:before{
                content: '';
                display: flex;
                width: 2rem;
                height: 2rem;
                border: none;
                border-radius: 2px;
                background-color: #F0F0F0;
                border: 1px solid #DDD;
              }
              &:checked{
                &:before{
                  background-image: url(../images/common/pc/btn_checkbox.png);
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: 2rem 2rem;
                  position: absolute;
                  border-radius: 0.2rem;
                  top: 0;
                  left: 0;
                  background-color: #f4733a !important;
                  border: 1px solid #f4733a;
                }
              }
            }
            &[type=radio]{
              appearance: none;
              position: absolute;
              top: 1.4rem;
              left: 0;
              transform: translateY(-50%);
              border-radius: 50%;
              background: #F0F0F0;
              color: #2b2b2b;
              font-size: 16px;
              width: 2rem;
              height: 2rem;
              margin-top: 0;
              padding: 0;
              &:checked{
                background: $c_point;
                border: none;
                &:before{
                  content: '';
                  display: block;
                  width: 0.8rem;
                  height: 0.8rem;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  background: #fff;
                  border-radius: 50%;
                }
              }
            }
          }
          &.contact_date{
            .wpcf7-form-control-wrap{
              position: relative;
              &:after{
                content: '';
                display: block;
                position: absolute;
                right: 1.8rem;
                width: 2rem;
                height: 2.1rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath d='M4 8.5L10 14.5L16 8.5' stroke='%23ACACAC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-size: 2rem 2.1rem;
                @include desktop{
                  top: 0.7rem;
                }
                @include mobile{
                  top: 0.5rem;
                }
              }
            }
          }
          &.contact_money{
            .wpcf7-form-control-wrap{
              &:after{
                content: '만 원';
                display: block;
                @include text(1.6rem,700,1.6);
                color: #000;
                position: absolute;
                top: 1.4rem;
                right: .8rem;
                transform: translate(-50%, -50%);
              }
            }
          }
          .contact_check{
            width: 100%;
            .wpcf7-list-item{
              margin-top: 1rem;
              margin-left: 0;
              width: 100%;
              @include mobile{
                @include text2('14');
              }
              input[type=checkbox]{
                @include desktop{
                  margin-right: 0.4rem;
                }
              }
              em{
                color: #aaa;
                font-style: normal;
                @include desktop{
                  @include text2('18');
                }
                @include mobile{
                  display: block;
                  @include text2('12');
                  margin-left: 2.9rem;
                }
              }
            }
            .has-free-text{
              .wpcf7-list-item-label{
                @include desktop{
                  margin-left: .8rem;
                }
                @include mobile{
                  margin-left: .2rem;
                }
              }
            }
            .ff_valid_box{
              top: -4.2rem;
            }
          }
          .contact_radio{
            width: 100%;
            .wpcf7-list-item{
              position: relative;
              display: flex;
              margin-top: 1rem;
              margin-left: 0;
              &.first{
                display: none;
              }
            }
            label{
              padding-left: 2.8rem;
              @include mobile{
                width: 100%;
              }
            }

          .has-free-text{
              .ff_valid_box{
                @include desktop{
                  bottom: -3.5rem;
                  left: 7.6rem;
                  top: auto;
                }
              }
            }
          }
          .has-free-text{
            display: flex;
            @include mobile{
             flex-wrap: wrap;
            }
            .ff_valid_box{
              @include mobile{
                margin-left: 2.9rem;
                margin-top: 0;
              }
            }
            .wpcf7-list-item-label{
              display: block;
              line-height: 3.4rem;
              @include desktop{
                width: 4.4rem;
              }
              @include mobile{
                width: calc(100% - 2.8rem);
              }
            }
            input[type=text]{
              background: none;
              border: none;
              border-bottom: 1px solid #ddd;
              border-radius: 0;
              height: 3.4rem;
              margin-top: 0;
              padding: 0.4rem 0;
              margin-left: 0.4rem;
              @include mobile{
                margin-left: 2.8rem;
              }
            }
            input[type=checkbox]{
              margin-top: .6rem;
            }
            input[type=radio]{
              margin-top: 0.3rem;
            }
            input[name=your-checkbox_free_text]{
              @include desktop{
                margin-left: .4rem;
              }
              @include mobile{
                margin-left: 2.8rem;
              }
            }
          }
        }
      }
      .contact_personal_info{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        color: $c_gray_1;
        @include desktop{
          @include text(1.8rem,400,1.6);
          margin-top: 4.2rem;
        }
        @include mobile{
          @include text(1.4rem,400,1.6);
          padding-left: 2rem;
          margin-top: 3rem;
        }
        p{
          display: flex;
          align-items: flex-start;
        }
        .wpcf7-list-item{
          margin-left: 0;
        }
        .wpcf7-not-valid{
          display: inline-flex;
          @include desktop{
            margin-bottom: 2.9rem;
          }
        }
        &.o_verify{
          .wpcf7-not-valid{
            display: inline-flex;
            @include desktop{
              margin-bottom: 0;
            }
          }
        }
        input{
          &[type=checkbox] {
            margin: 0;
            border: none;
            position: relative;
            top: 0;
            left: 0;
            width: 2rem;
            height: 2rem;
            margin-right: 0.6rem;
            @include mobile{
              margin-left: -2.6rem;
            }
            &:before{
              content: '';
              display: flex;
              width: 2rem;
              height: 2rem;
              border: none;
              background-color: #F0F0F0;
              border-radius: 2px;
              border: 1px solid #ddd;
            }
            &:checked{
              &:before{
                background-image: url(../images/common/pc/btn_checkbox.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 2rem 2rem;
                position: absolute;
                border-radius: 0.2rem;
                top: 0;
                left: 0;
                background-color: #f4733a !important;
                border: 1px solid #f4733a;
              }
            }
            &+.wpcf7-list-item-label{
              display: none;
            }
          }
        }
        .pi_popup{
          color: $c_point;
          vertical-align: top;
          @include desktop{
            @include text(1.8rem,400,1.6);
          }
          @include mobile{
            @include text(1.4rem,400,1.6);
          }
        }
      }
      .contact_msg{
        @include desktop{
          margin-top: 4.2rem;
        }
        @include mobile{
          margin-top: 3.2rem;
        }
        label{
          @include desktop{
            @include text(1.8rem,700,1.6);
          }
          @include mobile{
            @include text(1.4rem,700,1.6);
          }
          span{
            color: #646464;
            margin-left: 0.8rem;
            @include desktop{
              @include text(1.6rem,400,1.6);
            }
            @include mobile{
              @include text(1.4rem,400,1.6);
            }
          }
        }
        textarea{
          background: $c_gray_3;
          border: 1px solid #ddd;
          border-radius: 8px;
          width: 100%;
          @include desktop{
            padding: 1.2rem 2rem 0;
            @include text(1.6rem,400,1.6);
            height: 14.7rem;
            margin-top: .6rem;
          }
          @include mobile{
            padding: 1.2rem 1.2rem 0;
            height: 30.7rem;
            margin-top: 1.5rem;
            @include text(1.4rem,400,1.6);
          }
          &::placeholder{
            color: #aaa;
          }
        }
      }
      .contact_submit{
        text-align: center;
        input{
          background: $c_gray_2;
          border-radius: 200px;
          @include text2('18');
          color: $c_primary;
          font-weight: 700;
          height: 5.5rem;
          text-indent: 0;
          position: static;
          width: fit-content;
          padding: 1.3rem 6.2rem;
          @include desktop{
            margin: 4.2rem auto 0;
          }
          @include mobile{
            width: 100%;
            margin: 3rem auto 0;
          }
        }
        .active{
          background: $c_point;
          cursor: pointer;
        }
      }
    }
  }
}
.daterangepicker{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  &:before,&:after{
    display: none !important;
  }
  @include desktop{
    border: 1px solid #acacac !important;
  }
  @include mobile{
    border: 1px solid #ddd !important;
    border-radius: 8px !important;
  }
  td.off,td.off.in-range{
    color: #acacac !important;
  }
  .calendar-table{
    .prev{
      span{
        width: 2rem;
        height: 2rem;
        border:none !important;
        transform: rotate(0) !important;
        vertical-align: middle;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M12 4L6 10L12 16' stroke='%23ACACAC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
    .next{
      span{
        width: 2rem;
        height: 2rem;
        border:none !important;
        transform: rotate(0) !important;
        vertical-align: middle;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22' fill='none'%3E%3Cpath d='M8.98405 17.6826L14.9922 11.2062L8.98405 4.72976' stroke='%23ACACAC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
    th,td{
      @include desktop{
        font-size: 1.8rem !important;
        height: 4.7rem !important;
      }
      @include mobile{
        font-size: 1.6rem !important;
      }
      min-width: 4.4rem !important;
      height: 3.9rem !important;
      padding: .4rem 0 !important;
      @include mobile{
        min-width: 3.4rem !important;
        height: 3.5rem !important;
      }
    }
    th{
      font-weight: 700 !important;
    }
  }
  td.in-range{
    background: #FDE3D8 !important;
  }
  td.active{
    background: $c_point !important;
  }
  select{
    appearance:none;
    &.yearselect {
      float: left !important;
      width: auto !important;
      color: #000 !important;
      float: right !important;
      font-weight: 700 !important;
      opacity: 1;
      @include desktop{
        font-size: 2rem !important;
      }
      @include mobile{
        font-size: 1.8rem !important;
      }
     }
     &.monthselect{
      width: auto !important;
      font-weight: 700 !important;
      color: #000 !important;
      float: right !important;
      margin-right: 33% !important;
      opacity: 1;
      @include desktop{
        font-size: 2rem !important;
      }
      @include mobile{
        margin-right: 28% !important;
        font-size: 1.8rem !important;
      }
    }
  }
  .drp-calendar{
    max-width: 35.6rem !important;
    &.left{
      padding: 3.2rem 0 3.2rem 3.2rem !important;
      @include mobile{
        padding: 0.8rem 1.8rem !important;
      }
    }
    &.right{
      padding: 3.2rem !important;
    }
  }
  @include mobile{
    .drp-calendar.right{
      display: none !important;
      .drp-calendar{
        display: none !important;
      }
    }
  }
}