.main-contents{
  position: relative;
  .inner{
    max-width: 142.4rem;
    margin: 0 auto;
    @include desktop{
      padding: 20rem 10rem;
    }
    @include mobile{
      padding: 12rem 3rem;
    }
  }
  .tit{
    position: relative;
    @include desktop{
      padding-left: 10.4rem;
    }
    &.__ani{
      h2{
        transform: translateY(0);
        opacity: 1;
      }
      span{
        transform: translateX(0);
      }
    }
    .num{
      overflow: hidden;
      @include desktop{
        position: absolute;
        top: 0;
        left: 0;
      }
      @include mobile{
        width: fit-content;
      }
    }
    span{
      display: block;
      transform: translateX(120px);
      transition: transform .5s ease;
      @include desktop{
        font-size: 6.6rem;
        font-weight: 300;
      }
      @include mobile{
        @include text2('40');
        font-weight: 300;
        margin-bottom: 0.4rem;
      }
    }
    h2{
      opacity: 0;
      transform: translateY(10%);
      transition: opacity .5s ease, transform .5s ease;
      @include desktop{
        @include text2('42');
      }
      @include mobile{
        @include text2('28');
      }
      strong{
        color: $c_point;
      }
    }
    p{
      @include desktop{
        @include text2('30');
        margin-top: 4rem;
      }
      @include mobile{
        @include text2('18');
        margin-top: 1.4rem;
      }
      strong{
        color: $c_point;
      }
    }
  }
  .txt_anno{
    color: $c_gray_1;
    @include desktop{
      @include text2('18');
      margin-top: 2rem;
    }
    @include mobile{
      @include text2('12');
      margin-top: 1.6rem;
    }
  }
  ._prev,._next{
    content: '';
    display: block;
    background: url(../images/common/pc/ico_arrow.png) 50% 50% no-repeat;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    @include desktop{
      width: 10rem;
      height: 10rem;
    }
    @include mobile{
      width: 3rem;
      height: 3rem;
    }
  }
  ._prev{
    @include desktop{
      left: 0;
      top: calc(50% - 5rem);
    }
    @include mobile{
      left: -3rem;
      top: calc(50% - 3rem);
    }
  }
  ._next{
    top: calc(50% - 5rem);
    transform: rotate(180deg);
    @include desktop{
      right: -10rem;
    }
    @include mobile{
      right: -3rem;
    }
  }
  .visual{
    position: relative;
    overflow: hidden;
    .video{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
    }
    .inner{
      @include desktop{
        padding: 26.2rem 5rem 10.8rem;
      }
      @include mobile{
        padding: 32rem 3rem 7.3rem;
      }
    }
    .tit{
      position: relative;
      z-index: 1;
      color: $c_primary;
      transform: translateY(10%);
      opacity: 0;
      transition: opacity .5s ease, transform .5s ease-in;
      &.__ani{
        opacity: 1;
        transform: translateY(0);
      }
      h2{
        @include desktop{
          @include text2('30');
        }
        @include mobile{
          @include text2('18');
        }
      }
      img{
        @include desktop{
          width: 33.3rem;
          margin: 1.4rem 0 4.7rem;
        }
        @include mobile{
          width: 21.1rem;
          margin: .8rem 0 2rem;
        }
      }
      p{
        margin-top: 0;
        @include desktop{
          @include text2('24');
        }
        @include mobile{
          @include text2('14');
        }
      }
    }
  }
  .sec{
    &1{
      .img_box{
        @include desktop{
          padding-left: 10.4rem;
          margin-top: 4rem;
        }
        @include mobile{
          margin-top: 3.2rem;
        }
      }
      .inner{
        @include desktop{
          padding-bottom: 16rem;
        }
        @include mobile{
          padding-bottom: 8rem;
        }
      }
      .logo_wrap{
        margin-top: 3.2rem;
        position: relative;
        .logo_swiper{
          overflow: hidden;
        }
        ._next{
          top: calc(50% - 3rem);
        }
      }
    }
    &2{
      .inner{
        padding-top: 0;
        @include mobile{
          padding-right: 0;
        }
      }
      .service_tab{
        display: flex;
        @include desktop{
          padding-left: 10.4rem;
          gap: 4rem;
          margin-top: 4rem;
        }
        @include mobile{
          gap: 2.8rem;
          margin-top: 3.2rem;
          white-space: nowrap;
          overflow: auto;
          padding-right: 3rem;
        }
        li{
          color: $c_gray_2;
          @include desktop{
            @include text2('30');
          }
          @include mobile{
            @include text2('18');
          }
          &:after{
            content: '';
            width: 0;
            height: .4rem;
            background: $c_point;
            display: block;
            transition: width .3s ease;
          }
          &._active{
            a{
              color: $c_bk;
              font-weight: 700;
            }
            &:after{
              width: 100%;
            }
          }
        }
      }
      .service_wrap{
        position: relative;
        @include desktop{
          padding-left: 10.4rem;
          margin-top: 4rem;
        }
        @include mobile{
          padding-right: 3rem;
          margin-top: 3.2rem;
        }
        .service_swiper{
          overflow: hidden;
        }
        ._next{
          @include mobile{
            right: 0;
            top: calc(50% - 3rem);
          }
        }
      }
    }
    &3{
      background: #FEF8F5;
      .txt_anno{
        @include desktop{
          padding-left: 10.4rem;
        }
      }
      ul{
        display: flex;
        @include desktop{
          gap: 1.6rem;
          padding-left: 10.4rem;
          margin-top: 4rem;
        }
        @include mobile{
          gap: .7rem;
          flex-wrap: wrap;
          margin-top: 3.2rem;
        }
        li{
          background: $c_primary;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include desktop{
            flex: 1;
            padding: 5rem 3rem 6.6rem;
          }
          @include mobile{
            width: calc(50% - .4rem);
            padding: 2.4rem 1.7rem 1.3rem;
          }
          p{
            @include desktop{
              @include text2('24');
            }
            @include mobile{
              @include text2('14');
            }
          }
          h3{
            color: $c_point;
            @include desktop{
              @include text2('30');
              font-weight: 700;
            }
            @include mobile{
              @include text2('18');
              font-weight: 700;
            }
          }
          img{
            @include desktop{
              width: 10rem;
            }
            @include mobile{
              width: 4.4rem;
              margin-bottom: 1.2rem;
            }
          }
        }
      }
    }
    &4{
      .inner{
        @include mobile{
          padding-left: 0;
          padding-right: 0;
        }
      }
      .tit{
        @include mobile{
          padding-left: 3rem;
          padding-right: 1rem;
        }
      }
      .txt_anno{
        @include mobile{
          padding-left: 3rem;
        }
      }
      .lst_age{
        position: relative;
        @include desktop{
          padding-left: 10.4rem;
        }
        .age_grp{
          display: flex;
          position: absolute;
          transform: translateX(-50%);
          z-index: 2;
          @include desktop{
            gap: 6rem;
            top: 6rem;
            left: calc(50% + 5.2rem);
          }
          @include mobile{
            gap: 1rem;
            top: 1.6rem;
            left: 50%;
          }
          li{
            border-radius: 50%;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @include desktop{
              width: 20rem;
              height: 20rem;
            }
            @include mobile{
              width: 10.4rem;
              height: 10.4rem;
            }
            p{
              @include desktop{
                @include text2('24');
              }
              @include mobile{
                @include text2('14');
              }
            }
            strong{
              color: $c_point;
              @include desktop{
                @include text2('42');
                font-weight: 700;
              }
              @include mobile{
                @include text2('24');
                font-weight: 700;
                display: block;
                margin-top: -7px;
              }
            }
          }
        }
      }
      .age_swiper{
        overflow: hidden;
        position: relative;
        @include desktop{
          margin-top: 4rem;
        }
        @include mobile{
          margin-top: 3.2rem;
        }
      }
    }
    &5{
      background: $c_gray_3;
      .ds_tab{
        display: flex;
        @include desktop{
          padding-left: 10.4rem;
          gap: 4rem;
          margin-top: 4rem;
        }
        @include mobile{
          gap: 2.8rem;
          white-space: nowrap;
          overflow: auto;
          margin-top: 3.2rem;
        }
        li{
          a{
            color: $c_gray_1;
            @include desktop{
              @include text2('30');
            }
            @include mobile{
              @include text2('18');
            }
            &::after{
              content: '';
              display: block;
              width: 0;
              transition: width .3s ease;
              background: $c_point;
              @include desktop{
                height: .4rem;
              }
              @include mobile{
                height: .2rem;
              }
            }
          }
          &._active{
            a{
              color: $c_bk;
              font-weight: 700;
              &:after{
                width: 100%;
              }
            }
          }
        }
      }
      .lst_ds{
        width: 112rem;
        @include desktop{
          padding-left: 10.4rem;
          margin-top: 2rem;
        }
        @include mobile{
          margin-top: 1.4rem;
        }
        &>p{
          display: flex;
          gap: .6rem;
          @include desktop{
            align-items: center;
          }
          @include mobile{
            position: relative;
            padding-left: 6px;
          }
          @include desktop{
            @include text2('24');
          }
          @include mobile{
            @include text2('14')
          }
          &:before{
            content: '';
            background: $c_point;
            border-radius: 50%;
            display: flex;
            @include desktop{
              width: .5rem;
              height: 0.5rem;
            }
            @include mobile{
              width: 0.2rem;
              height: .2rem;
              position: absolute;
              top: .8rem;
              left: 0;
            }
          }
        }
        .sub_txt{
          color: $c_gray_1;
          line-height: 1.6;
          margin-top: 0.8rem;
          @include desktop{
            @include text2('18');
          }
          @include mobile{
            @include text2('12');
            margin-top: 0.7rem;
            display: block;
          }
          &+.ds_cont{
            @include desktop{
              margin-top: 2.3rem;
            }
            @include mobile{
              margin-top: 0.7rem;
            }
          }
        }
      }
      .ds{
        &_wrap{
          position: relative;
          .ds_swiper{
            overflow: hidden;
          }
          ._prev,._next{
            top: auto;
            bottom: 15rem;
            z-index: 1;
          }
        }
        &_cont{
          display: flex;
          gap: .8rem;
          @include desktop{
            margin-top: 4rem;
          }
          @include mobile{
            flex-direction: column;
            height: 29rem;
            align-items: center;
            margin-top: 3.2rem;
          }
          &>li{
            background: $c_primary;
            display: flex;
            align-items: center;
            text-align: center;
            width: 100%;
            @include desktop{
              padding: 4.6rem 2rem 4.1rem;
            }
             @include mobile{
              flex-direction: row;
              gap: 2rem;
             }
          }
          h3{
            color: $c_point;
            @include desktop{
              @include text2('30');
              font-weight: 700;
            }
            @include mobile{
              @include text2('18');
              font-weight: 700;
            }
          }
          p{
            @include desktop{
              @include text2('24');
              margin-top: 0.8rem;
            }
            @include mobile{
              @include text2('14');
            }
          }
        }
        &_display{
          li{
            flex: 1;
            @include desktop{
              flex-direction: column;
            }
            @include mobile{
              padding: 0 0 0 1.2rem;
            }
          }
        }
        &_offline{
          li{
            flex: 1;
            @include desktop{
              flex-direction: column;
            }
            @include mobile{
              padding: 2.5rem 1.9rem 2.5rem 1.2rem;
            }
          }
        }
        &_online{
          background: $c_primary;
          @include desktop{
            flex-direction: column;
            padding: 4.6rem 0 6.4rem;
            gap: 3rem;
          }
          @include mobile{
            flex-direction: row;
            padding: 1.3rem 2.3rem 1.3rem 1.2rem;
            gap: 2rem;
          }
          .img_box{
            margin: 0 auto;
          }
          ul{
            display: flex;
            justify-content: center;
            @include mobile{
              flex-direction: column;
            }
            li{
              flex-direction: column;
              position: relative;
              padding: 0 4rem;
              text-align: center;
              text-align: left;
              @include mobile{
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-left: 0;
              }
              &:first-child{
                &::before{
                  display: none;
                }
              }
              &::before{
                content: '';
                border-left: 1px;
                position: absolute;
                top: 0;
                left: 0;
                @include desktop{
                  width: 1px;
                  height: 10rem;
                  background: $c_gray_1;
                }
                @include mobile{
                  width: 100%;
                  height: 1px;
                  background: #DDD;
                }
              }
            }
          }
        }
      }
      .img_box{
        @include desktop{
          width: 25rem;
          height: 16rem;
        }
        @include mobile{
          width: 9.2rem;
          height: 9.2rem;
          display: flex;
          align-items: center;
        }
      }
      .txt_box{
        @include mobile{
          text-align: left;
          width: calc(100% - 11.2rem);
        }
      }
    }
    &6{
      background: var(--Gradient-Orange1, linear-gradient(90deg, #F4733A 50%, #FCC5B1 100%));
      .inner{
        display: flex;
        justify-content: space-between;
        @include desktop{
          padding: 18rem 5rem;
        }
        @include mobile{
          padding: 12rem 3rem;
          flex-direction: column;
          gap: 3.2rem;
        }
      }
      .tit{
        color: #fff;
        p{
          margin-top: 0;
        }
      }
      img{
        @include desktop{
          width: 36.4rem;
          margin-top: 2.6rem;
        }
        @include mobile{
          width: 26.1rem;
          margin-top: 1.4rem;
        }
      }
      .btn_group{
        @include desktop{
          margin-top: 6rem;
        }
        @include mobile{
          margin-top: 3.2rem;
        }
        a{
          background: $c_primary;
          color: $c_point;
          font-weight: 700;
          &:after{
            @include desktop{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M12 8.00049L20 16.0005L12 24.0005' stroke='%23F4733A' stroke-width='2.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
            @include mobile{
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='22' viewBox='0 0 21 22' fill='none'%3E%3Cpath d='M7.69238 5.87207L12.8206 11.0003L7.69238 16.1285' stroke='%23F4733A' stroke-width='1.7094' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
          }
        }
      }
      .img_box{
        @include desktop{
          padding-right: 3rem;
        }
        img{
          width: 50rem;
        }
      }
    }
  }
}